.navbar-brand {
	position: absolute;
	width: 67px;
	height: 100%;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.navbar {
	overflow-y: hidden;
	height: 67px; /* approximate max height */
	opacity: 1;
		
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	&.hidden {
		height: 0;
		opacity: 0;
	}
}

.navbar-nav {
	.nav-item {
		&:last-child {
			.nav-link::after {
				content: "";
			}
		}
	}

	.nav-link {
		text-transform: uppercase;
		transition: .3s all;
		font-size: 1.3rem;

		&::after {
			content: "•";
		    color: #fff;
		    margin-left: 15px;
		}
	}
}